# Flight Data Wrangling

In [1]:
import numpy as np
import pandas as pd
import bz2
pd.set_option('display.max_columns', 500)

In [2]:
for y in ['2004', '2005', '2006', '2007', '2008']:
    with bz2.BZ2File('./original_data/'+ y +'.csv.bz2', 'r') as f:
        exec('df_{} = pd.read_csv(f, encoding = "latin-1")'.format(y))

In [3]:
print('df_2004 data size:', df_2004.shape)
print('df_2005 data size:', df_2005.shape)
print('df_2006 data size:', df_2006.shape)
print('df_2007 data size:', df_2007.shape)
print('df_2008 data size:', df_2008.shape)

df_2004 data size: (7129270, 29)
df_2005 data size: (7140596, 29)
df_2006 data size: (7141922, 29)
df_2007 data size: (7453215, 29)
df_2008 data size: (7009728, 29)

In [4]:
df_2004.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2004,1,12,1,623.0,630,901.0,915,UA,462,N805UA,98.0,105,80.0,-14.0,-7.0,ORD,CLT,599,7,11,0,NaN,0,0,0,0,0,0
1,2004,1,13,2,621.0,630,911.0,915,UA,462,N851UA,110.0,105,78.0,-4.0,-9.0,ORD,CLT,599,16,16,0,NaN,0,0,0,0,0,0
2,2004,1,14,3,633.0,630,920.0,915,UA,462,N436UA,107.0,105,88.0,5.0,3.0,ORD,CLT,599,4,15,0,NaN,0,0,0,0,0,0
3,2004,1,15,4,627.0,630,859.0,915,UA,462,N828UA,92.0,105,78.0,-16.0,-3.0,ORD,CLT,599,4,10,0,NaN,0,0,0,0,0,0
4,2004,1,16,5,635.0,630,918.0,915,UA,462,N831UA,103.0,105,87.0,3.0,5.0,ORD,CLT,599,3,13,0,NaN,0,0,0,0,0,0

In [5]:
df_2005.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2005,1,28,5,1603.0,1605,1741.0,1759,UA,541,N935UA,158.0,174,131.0,-18.0,-2.0,BOS,ORD,867,4,23,0,NaN,0,0,0,0,0,0
1,2005,1,29,6,1559.0,1605,1736.0,1759,UA,541,N941UA,157.0,174,136.0,-23.0,-6.0,BOS,ORD,867,6,15,0,NaN,0,0,0,0,0,0
2,2005,1,30,7,1603.0,1610,1741.0,1805,UA,541,N342UA,158.0,175,131.0,-24.0,-7.0,BOS,ORD,867,9,18,0,NaN,0,0,0,0,0,0
3,2005,1,31,1,1556.0,1605,1726.0,1759,UA,541,N326UA,150.0,174,129.0,-33.0,-9.0,BOS,ORD,867,11,10,0,NaN,0,0,0,0,0,0
4,2005,1,2,7,1934.0,1900,2235.0,2232,UA,542,N902UA,121.0,152,106.0,3.0,34.0,ORD,BOS,867,5,10,0,NaN,0,0,0,0,0,0

In [6]:
df_2006.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2006,1,11,3,743.0,745,1024.0,1018,US,343,N657AW,281.0,273.0,223.0,6.0,-2.0,ATL,PHX,1587,45,13,0,NaN,0,0,0,0,0,0
1,2006,1,11,3,1053.0,1053,1313.0,1318,US,613,N834AW,260.0,265.0,214.0,-5.0,0.0,ATL,PHX,1587,27,19,0,NaN,0,0,0,0,0,0
2,2006,1,11,3,1915.0,1915,2110.0,2133,US,617,N605AW,235.0,258.0,220.0,-23.0,0.0,ATL,PHX,1587,4,11,0,NaN,0,0,0,0,0,0
3,2006,1,11,3,1753.0,1755,1925.0,1933,US,300,N312AW,152.0,158.0,126.0,-8.0,-2.0,AUS,PHX,872,16,10,0,NaN,0,0,0,0,0,0
4,2006,1,11,3,824.0,832,1015.0,1015,US,765,N309AW,171.0,163.0,132.0,0.0,-8.0,AUS,PHX,872,27,12,0,NaN,0,0,0,0,0,0

In [7]:
df_2007.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2007,1,1,1,1232.0,1225,1341.0,1340,WN,2891,N351,69.0,75.0,54.0,1.0,7.0,SMF,ONT,389,4,11,0,NaN,0,0,0,0,0,0
1,2007,1,1,1,1918.0,1905,2043.0,2035,WN,462,N370,85.0,90.0,74.0,8.0,13.0,SMF,PDX,479,5,6,0,NaN,0,0,0,0,0,0
2,2007,1,1,1,2206.0,2130,2334.0,2300,WN,1229,N685,88.0,90.0,73.0,34.0,36.0,SMF,PDX,479,6,9,0,NaN,0,3,0,0,0,31
3,2007,1,1,1,1230.0,1200,1356.0,1330,WN,1355,N364,86.0,90.0,75.0,26.0,30.0,SMF,PDX,479,3,8,0,NaN,0,23,0,0,0,3
4,2007,1,1,1,831.0,830,957.0,1000,WN,2278,N480,86.0,90.0,74.0,-3.0,1.0,SMF,PDX,479,3,9,0,NaN,0,0,0,0,0,0

In [8]:
df_2008.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,N712SW,128.0,150.0,116.0,-14.0,8.0,IAD,TPA,810,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,N772SW,128.0,145.0,113.0,2.0,19.0,IAD,TPA,810,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,N428WN,96.0,90.0,76.0,14.0,8.0,IND,BWI,515,3.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,N612SW,88.0,90.0,78.0,-6.0,-4.0,IND,BWI,515,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,N464WN,90.0,90.0,77.0,34.0,34.0,IND,BWI,515,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0

In [9]:
def wrangle_data(data, interesting_var, rename_col):
#     drop duplicated data
    data.drop_duplicates(inplace = True)
    
#     fill missing value with 0 in columns CarrierDelay, WeatherDelay, NASDelay, SecurityDelay, and LateAircraftDelay
    delay_col = ['CarrierDelay', 'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay']
    data[delay_col] = data[delay_col].fillna(0, axis = 1)
    
#     I won't explore on diverted data; hence, I drop them out
    data.query('Diverted == 0', inplace = True)
    data.drop(['Diverted'], axis = 1, inplace = True)
    data.reset_index(drop = True, inplace = True)
    
#     filter interested features
    data = data.filter(items = interesting_var)
    
#     creat new feature "arrival_status"
    conditions_status = [
        (data['Cancelled'] == 1),
        (data['ArrDelay'] >= 15)]
    choices_status = ['Cancelled','Delay']
    data['arrival_status'] = np.select(conditions_status, choices_status, default = 'Normal')
    data.drop(['Cancelled'], axis = 1, inplace = True)
        
#     rename CancellationCode. A:Carrier, B:Weather, C:NAS, D:Security
    conditions_cancel = [
        (data['CancellationCode'] == 'A'),
        (data['CancellationCode'] == 'B'),
        (data['CancellationCode'] == 'C'),
        (data['CancellationCode'] == 'D')
    ]
    choices_cancel = ['Carrier', 'Weather', 'NAS', 'Security']
    data['CancellationCode'] = np.select(conditions_cancel, choices_cancel, default = 'None')
    
    data.columns = rename_col
    
    return data

In [10]:
# Features I choose
interesting_var = ['Year', 'Month', 'DayOfWeek', 'UniqueCarrier', 
                   'ArrDelay', 'Dest', 'Distance', 'Cancelled',
                   'CancellationCode', 'CarrierDelay', 'WeatherDelay', 
                   'NASDelay', 'SecurityDelay', 'LateAircraftDelay']

In [11]:
rename_col = ['year', 'month', 'day_of_week', 'carrier', 
            'arrdelay_time', 'destination', 'distance',
            'cancellation_code', 'carrier_delay', 'weather_delay', 
            'nas_delay', 'security_delay', 'late_aircraft_delay', 'arrival_status']

In [12]:
df_2004 = wrangle_data(df_2004, interesting_var, rename_col)
df_2005 = wrangle_data(df_2005, interesting_var, rename_col)
df_2006 = wrangle_data(df_2006, interesting_var, rename_col)
df_2007 = wrangle_data(df_2007, interesting_var, rename_col)
df_2008 = wrangle_data(df_2008, interesting_var, rename_col)

In [13]:
df_2004.head()

,year,month,day_of_week,carrier,arrdelay_time,destination,distance,cancellation_code,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,arrival_status
0,2004,1,1,UA,-14.0,CLT,599,None,0,0,0,0,0,Normal
1,2004,1,2,UA,-4.0,CLT,599,None,0,0,0,0,0,Normal
2,2004,1,3,UA,5.0,CLT,599,None,0,0,0,0,0,Normal
3,2004,1,4,UA,-16.0,CLT,599,None,0,0,0,0,0,Normal
4,2004,1,5,UA,3.0,CLT,599,None,0,0,0,0,0,Normal

In [14]:
df_2005.head()

,year,month,day_of_week,carrier,arrdelay_time,destination,distance,cancellation_code,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,arrival_status
0,2005,1,5,UA,-18.0,ORD,867,None,0,0,0,0,0,Normal
1,2005,1,6,UA,-23.0,ORD,867,None,0,0,0,0,0,Normal
2,2005,1,7,UA,-24.0,ORD,867,None,0,0,0,0,0,Normal
3,2005,1,1,UA,-33.0,ORD,867,None,0,0,0,0,0,Normal
4,2005,1,7,UA,3.0,BOS,867,None,0,0,0,0,0,Normal

In [15]:
df_2006.head()

,year,month,day_of_week,carrier,arrdelay_time,destination,distance,cancellation_code,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,arrival_status
0,2006,1,3,US,6.0,PHX,1587,None,0,0,0,0,0,Normal
1,2006,1,3,US,-5.0,PHX,1587,None,0,0,0,0,0,Normal
2,2006,1,3,US,-23.0,PHX,1587,None,0,0,0,0,0,Normal
3,2006,1,3,US,-8.0,PHX,872,None,0,0,0,0,0,Normal
4,2006,1,3,US,0.0,PHX,872,None,0,0,0,0,0,Normal

In [16]:
df_2007.head()

,year,month,day_of_week,carrier,arrdelay_time,destination,distance,cancellation_code,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,arrival_status
0,2007,1,1,WN,1.0,ONT,389,None,0,0,0,0,0,Normal
1,2007,1,1,WN,8.0,PDX,479,None,0,0,0,0,0,Normal
2,2007,1,1,WN,34.0,PDX,479,None,3,0,0,0,31,Delay
3,2007,1,1,WN,26.0,PDX,479,None,23,0,0,0,3,Delay
4,2007,1,1,WN,-3.0,PDX,479,None,0,0,0,0,0,Normal

In [17]:
df_2008.head()

,year,month,day_of_week,carrier,arrdelay_time,destination,distance,cancellation_code,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,arrival_status
0,2008,1,4,WN,-14.0,TPA,810,None,0.0,0.0,0.0,0.0,0.0,Normal
1,2008,1,4,WN,2.0,TPA,810,None,0.0,0.0,0.0,0.0,0.0,Normal
2,2008,1,4,WN,14.0,BWI,515,None,0.0,0.0,0.0,0.0,0.0,Normal
3,2008,1,4,WN,-6.0,BWI,515,None,0.0,0.0,0.0,0.0,0.0,Normal
4,2008,1,4,WN,34.0,BWI,515,None,2.0,0.0,0.0,0.0,32.0,Delay

In [18]:
df = pd.concat([df_2004, df_2005, df_2006, df_2007, df_2008]).reset_index(drop = True)

In [19]:
df.to_csv('./flight.csv', index = False, encoding = 'utf-8')